{% extends 'all_photos/base.html' %}

{% block content %}
<div class="jumbotron text-center blue-grey lighten-5">
    <h2 class="card-title h2">PHOTOS GALLERY</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-xl-7 pb-2">
        <p class="card-text">Search for photos from different locations and different categories</p>
      </div>
    </div>
    <hr class="my-4 pb-2">
    <a href="{% url 'all_photos' %}" class="btn blue-gradient btn-rounded">VIEW IMAGES   <i class="fas fa-images"></i></a>
  </div>

{% endblock %}