{% extends 'all_photos/base.html' %}

{% block content %}
{{block.super}}

<div class="container-fluid">
    <hr>
    <div class="row">
{% for img in images %}
            <div class="col-lg-4 col-lg-4 col-lg-4 padding-0 hover ">
                <a role="button" data-toggle="modal" data-target="#exampleModalLong{{img.id}}">
                    <img src="{{img.image.url}}" class="img img-responsive img-thumbnail" style="height: 350px; width:450px; margin-bottom: 10px;" data-toggle="modal" data-target="#{{image.id}}">
                </a>
            </div>
        {% for img in images %}
        <div class="modal fade" id="exampleModalLong{{img.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">{{img.image_name}}</h2>
                        <a role="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <img class="text-center" src="{{img.image.url}}" alt=""  style="width: 100%; height: 450px;">
                        <div class="copy-url">
                            <input type="text" value="{{img.image.url}}" style="width: 100%;" id="copy-link">
                            <button onclick="copyToClipboard()"><i class="far fa-clone"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endfor %}
</div>
</div>

{% endblock %}